<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
        <df_sso>
            <blackbaudNetCommunity>
				<button>
					<header>
						<label>Login with Blackbaud NetCommunity</label>
						<type>U</type>
					</header>
					<loginPage>
						<label>Login with Blackbaud NetCommunity</label>
						<type>U</type>
					</loginPage>
					<registratonPage>
						<label>Login with Blackbaud NetCommunity</label>
						<type>U</type>
					</registratonPage>
				</button>
            </blackbaudNetCommunity>
        </df_sso>
    </default>
</config>
